@font-face {
    font-family: 'fontMontserratbold';
    src: url('../../assets/fonts/Montserrat-Bold.ttf') format('ttf');
    font-weight: bold; 
  }

  
.dropdownSearch {
    min-width: 16px;
    position: relative;
    margin: 5px 5px 5px 0px;
}    
    .dropdownSearch * {
      box-sizing: border-box;
      font-family: 'fontMontserrabold', sans-serif;
    }
    .select {
      font-size: 10px;
      background: #F2F2F2;
      color: #000000;
      display: flex;
      height: 25px;
      width: 200px;
      justify-content: space-between;
      align-items: center;
      border: 2px #d9d9d9 solid;
      border-radius: 10px;
      padding: 1em;
      cursor: pointer;
      transition: background 0.3s;
    }
    
    .select-clicked {
      border: 2px #e6e5e5 solid;
      box-shadow: 0 0 0.8em #b5c7f1;
      transition: all  0.3s;
    }
    
    .select:hover{
    background: #e6e5e5;
    }
    .caret {
      width: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid #000000;
      transition: 0.3s;
      }
    .caret-rotate{
      transform: rotate(180deg);
    }
    .menu {
      list-style: none;
      padding: 0.2em 0.5em;
      background-color: #F2F2F2;
      border: 2px #D9D9D9 solid;
      box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
      border-radius: 0.5em;
      color: #000000;
      position: absolute; /* Muda o posicionamento para absoluto */
      top: 70%; /* Posiciona o menu logo abaixo do seletor */
      left: 0;
      right: 0;
      display: none;
      z-index: 1; /* Garante que o menu apareça sobre outros elementos */
      font-size: 10px;
      transition: all  0.3s;

    }
    .menu li{
      padding: 0.5em 1.1em;
      margin: 0.3em 0.3em;
      border-radius: 10px;
      cursor: pointer;
    }
    .menu li:hover{
      background: #e6e5e5;
    
    }
    .active{
      background: #e6e5e5;
    }
    
    .menu-open {
      display: block;
      opacity: 1;
    }

    .search-input {
        height: 20px;
        width: 100%;
        padding: 10px;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        font-size: 10px;
      }
      
      .dropdownSearch-menu {
        position: relative;
        width: 100%;
      }
      .search-input:focus{
        outline: none;

      }

      

      /* DropdownSearch.css */

.option-item.selected {
  color: red;

}

.clear-option{
  cursor: pointer;
}

.complement-struct{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clear-option {
  width: 16px; 
  height: 16px; 
  object-fit: contain;
  cursor: pointer; 
  margin-left: 4px; 
}
