.colunas {
    display: flex;
    overflow-x: auto; /* Permite a rolagem horizontal */
    padding: 10px;    /* Espaçamento interno */
}
  
 
.coluna {
    flex: 0 0 auto;        /* Impede que a coluna encolha */
    margin-right: 5px;    /* Espaço entre as colunas */
    padding: 5px;         /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda ao redor das colunas */
    border-radius: 5px;    /* Bordas arredondadas */
    background-color: #f9f9f9; /* Cor de fundo das colunas */
    min-width: 240px;       /* Largura mínima para cada coluna */
}


  .item-linha{
    text-align: center;
    border-radius: 5px;
    margin: 2px 0; 
    color: var(--cor-item-linha);
    font-size: 10px;
  }

  .item-list-linha{
    display: flex;
    justify-content: center;
    width: 100px;
    border-radius: 5px;
    
  }

  .coluna-selecionada {
    background-color: #e0f7fa; /* Cor de fundo personalizada */
}


.container-vazio{
    position: absolute;
    margin: 150px 0px 0px 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-vazio p {
    color: #0582CB;
    font-size: 18px;

}

.icon-open-box{
    filter: drop-shadow(10px 0 30px  rgba(1, 153, 255, 0.486));

}


@media (min-width: 1226px) {
    .container-vazio{
        margin: 150px 0px 0px 500px;
    }
}

@media (min-width: 1550px) {
    .container-vazio{
        margin: 150px 0px 0px 600px;
    }
}

@media (min-width: 1850px) {
    .container-vazio{
        margin: 150px 0px 0px 700px;
    }
}

@media (min-width: 1900px) {
    .container-vazio{
        margin: 150px 0px 0px 800px;
    }
}


@media (max-width: 1220px) {
    .container-vazio{
        margin: 150px 0px 0px 450px;
    }
}


.wrapper{
    position: fixed;
    top: 90%;
    left: 10.2vw;
    transform: translate(-50%, -50%);
    background-color: rgb(223, 231, 231);
  }
  
  .insert{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #afc7c7;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  .insert span{
    position: relative;
    z-index: 2;
  }
  
  .insert:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4cb4e4;
    transition: all .35s;
  }
  
  .insert:hover{
    color: #2c2c2c;
  }
  
  .insert:hover:after{
    width: 100%;
  }